nodered/flows.json
[
    {
        "id": "032795029faf4456",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f9ac8b9539c832a3",
        "type": "tab",
        "label": "Standard Light Scene",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "163c9f2450f671da",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "c9432689e0f580a4",
        "type": "server-state-changed",
        "z": "032795029faf4456",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "update.pilot",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "17c9759e599d8ad6"
            ]
        ]
    },
    {
        "id": "17c9759e599d8ad6",
        "type": "function",
        "z": "032795029faf4456",
        "name": "function 1",
        "func": "msg.result=msg.data.old_state.attributes.action\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "5f5897596cca335d",
                "03fbfc2607454ccd"
            ]
        ]
    },
    {
        "id": "5f5897596cca335d",
        "type": "debug",
        "z": "032795029faf4456",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "03fbfc2607454ccd",
        "type": "switch",
        "z": "032795029faf4456",
        "name": "",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrow_right_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_click",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "ec28e26a5ea6fcd9"
            ],
            [
                "73173199c08bcb27"
            ]
        ]
    },
    {
        "id": "ec28e26a5ea6fcd9",
        "type": "api-call-service",
        "z": "032795029faf4456",
        "name": "Włączenie halogenów ",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_1",
            "light.halogen_2",
            "light.halogen_3",
            "light.halogen_4"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "73173199c08bcb27",
        "type": "api-call-service",
        "z": "032795029faf4456",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_1",
            "light.halogen_2",
            "light.halogen_3",
            "light.halogen_4"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 503.66668701171875,
        "y": 445.8888854980469,
        "wires": [
            []
        ]
    },
    {
        "id": "ab69e26fbb15c02a",
        "type": "server-state-changed",
        "z": "f9ac8b9539c832a3",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.standardowe_oswietlenie",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "d3041cfa24e0aab5"
            ]
        ]
    },
    {
        "id": "2613dc838cbd5e47",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.grzybek"
        ],
        "data": "{\t   \"rgb_color\": randomColor\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d3041cfa24e0aab5",
        "type": "function",
        "z": "f9ac8b9539c832a3",
        "name": "Random Color",
        "func": "msg.randomColor = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "2613dc838cbd5e47"
            ]
        ]
    }
]