nodered/flows.json
[
    {
        "id": "f9ac8b9539c832a3",
        "type": "tab",
        "label": "Salon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c64ddd5143775f97",
        "type": "tab",
        "label": "Na zewnątrz",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2dfaac53f4ee54b",
        "type": "tab",
        "label": "Przekaźniki światła",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6768cfb18f6fc541",
        "type": "tab",
        "label": "Dzieci",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae7eb5a05d582c32",
        "type": "tab",
        "label": "Gabinet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1e916dd1d7de0b8",
        "type": "group",
        "z": "6768cfb18f6fc541",
        "name": "Scena dobranoc",
        "style": {
            "label": true
        },
        "nodes": [
            "cbcd2359f2cc6315",
            "a5e3d18390410799",
            "9f9894cd6e8bea4b",
            "f3e87b194eed2498"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "7b4bf04699360b3b",
        "type": "group",
        "z": "c64ddd5143775f97",
        "g": "e6dd97d81ea3c6fc",
        "name": "Wyjście z domu",
        "style": {
            "label": true
        },
        "nodes": [
            "ccc9d90b522a0043",
            "df7df673be1d9c98",
            "0b66e0c8549d8e06",
            "547d67abf9f23416",
            "f69501279babcc0b",
            "eed6e467f5db8361",
            "0688d9d91fc90393",
            "39869291426f147a",
            "6cb112ecdff54584",
            "d346729c0c228393",
            "5fa367aaafad48a6",
            "1068a9af2313d51a"
        ],
        "x": 34,
        "y": 39,
        "w": 1112,
        "h": 362
    },
    {
        "id": "e6c342613b5643d5",
        "type": "group",
        "z": "c64ddd5143775f97",
        "g": "e6dd97d81ea3c6fc",
        "name": "Światło zewnętrzne",
        "style": {
            "label": true
        },
        "nodes": [
            "a70ba87b7369ed2c",
            "366f78566d1be9b2",
            "aae4b5a0da16c2e7"
        ],
        "x": 34,
        "y": 439,
        "w": 472,
        "h": 142
    },
    {
        "id": "c14793f7d268df8d",
        "type": "group",
        "z": "c64ddd5143775f97",
        "name": "Oświetlenie przy powrocie do domu",
        "style": {
            "label": true
        },
        "nodes": [
            "263f98c0ca02852e",
            "43535bc5d9c3cb19",
            "9f57e4b37020d8c7",
            "675994b71b3f1f8c",
            "7e94098b490c2a42",
            "7901c3e6992a0bf9",
            "46f8a3ad7d4e7a83"
        ],
        "x": 14,
        "y": 619,
        "w": 952,
        "h": 142
    },
    {
        "id": "6c27fe9f99943679",
        "type": "group",
        "z": "f9ac8b9539c832a3",
        "g": "5ecf1bec7b70063f",
        "name": "Standardowe oświetlenie",
        "style": {
            "label": true
        },
        "nodes": [
            "ab69e26fbb15c02a",
            "2613dc838cbd5e47",
            "d3041cfa24e0aab5",
            "9aa642cfa8beb53a",
            "e0811da42f75fb5d"
        ],
        "x": 54,
        "y": 379,
        "w": 652,
        "h": 202
    },
    {
        "id": "141453e63c302779",
        "type": "group",
        "z": "f9ac8b9539c832a3",
        "g": "5ecf1bec7b70063f",
        "name": "Oglądanie TV",
        "style": {
            "label": true
        },
        "nodes": [
            "135e151637506a67",
            "e704175af4919eb9",
            "47e15f61dc69ae10",
            "4bd6ada147963d2f",
            "5ead5c978b3ae8b3",
            "691e105a52748b8a"
        ],
        "x": 54,
        "y": 599,
        "w": 652,
        "h": 262
    },
    {
        "id": "1e79f0715558075a",
        "type": "group",
        "z": "f9ac8b9539c832a3",
        "g": "5ecf1bec7b70063f",
        "name": "Dobranoc",
        "style": {
            "label": true
        },
        "nodes": [
            "bb7c06a04832d1e5",
            "9a2d2552d2f887b8",
            "df9faafd8fbeefbe",
            "653e83d3f1ffa715",
            "0deb1030d7e6e0be",
            "ef73919d8b4fc840",
            "db52d73c44600f2d",
            "de6c7a6f5a8968f7",
            "6ba31741d4e8b920",
            "ee21f8b9965153a0"
        ],
        "x": 54,
        "y": 879,
        "w": 972,
        "h": 342
    },
    {
        "id": "5ecf1bec7b70063f",
        "type": "group",
        "z": "f9ac8b9539c832a3",
        "name": "Sceny",
        "style": {
            "label": true
        },
        "nodes": [
            "6c27fe9f99943679",
            "141453e63c302779",
            "1e79f0715558075a"
        ],
        "x": 28,
        "y": 353,
        "w": 1024,
        "h": 894
    },
    {
        "id": "689b1d55f7932c58",
        "type": "group",
        "z": "f9ac8b9539c832a3",
        "name": "Pilot Ikea",
        "style": {
            "label": true
        },
        "nodes": [
            "c9432689e0f580a4",
            "17c9759e599d8ad6",
            "03fbfc2607454ccd",
            "c235e6ab9602c43b",
            "afe8c622ef8d03cf",
            "de51c69e72662118",
            "874e3a434553d62f",
            "ec87287eb765068e",
            "7c08316b5b85778b"
        ],
        "x": 34,
        "y": 19,
        "w": 832,
        "h": 302
    },
    {
        "id": "e6dd97d81ea3c6fc",
        "type": "group",
        "z": "c64ddd5143775f97",
        "name": "Sceny",
        "style": {
            "label": true
        },
        "nodes": [
            "7b4bf04699360b3b",
            "e6c342613b5643d5"
        ],
        "x": 8,
        "y": 13,
        "w": 1164,
        "h": 594
    },
    {
        "id": "9bc283314f1e0f9f",
        "type": "group",
        "z": "ae7eb5a05d582c32",
        "name": "Automatyzacja oświetlenia w gabinecie",
        "style": {
            "label": true
        },
        "nodes": [
            "d6b27d940dda55b0",
            "bed007e6166018c5",
            "3aedae7f44fe185d",
            "8959c55f5e6f2f96",
            "cbc707cf91024573",
            "65d43cfa1bdbbdcd",
            "2312338b8fa55a26",
            "e2a510cd8c057664",
            "0de3a5fff1c4e3c9",
            "c5d1e04def32c886",
            "b666e81e8039b28f",
            "708997197b0ea8ac",
            "5c34fe8dd10021b8",
            "7aa9b6aab96e2a63",
            "9b1910f401ef61fe",
            "e46fa9aef12dcb94",
            "cf0fbd04973576db",
            "34bf6fd15fb1ab7f"
        ],
        "x": 14,
        "y": 19,
        "w": 1492,
        "h": 362
    },
    {
        "id": "cc6d91f602947828",
        "type": "group",
        "z": "ae7eb5a05d582c32",
        "name": "Sceny",
        "style": {
            "label": true
        },
        "nodes": [
            "884608cf0fb6e773",
            "9577ec21e7b1473f"
        ],
        "x": 8,
        "y": 413,
        "w": 884,
        "h": 474
    },
    {
        "id": "884608cf0fb6e773",
        "type": "group",
        "z": "ae7eb5a05d582c32",
        "g": "cc6d91f602947828",
        "name": "Bieganie",
        "style": {
            "label": true
        },
        "nodes": [
            "78d30d26a52fab3b",
            "bcd2981a6282f92d",
            "abdb678895507741",
            "04619304953732d0"
        ],
        "x": 34,
        "y": 439,
        "w": 832,
        "h": 202
    },
    {
        "id": "9577ec21e7b1473f",
        "type": "group",
        "z": "ae7eb5a05d582c32",
        "g": "cc6d91f602947828",
        "name": "Zakończ bieganie",
        "style": {
            "label": true
        },
        "nodes": [
            "c4210de99aa36378",
            "6cf1832a97e41bd3",
            "4f4b3fc8976ae592",
            "0f529defee31c9cf"
        ],
        "x": 34,
        "y": 659,
        "w": 812,
        "h": 202
    },
    {
        "id": "163c9f2450f671da",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "ab69e26fbb15c02a",
        "type": "server-state-changed",
        "z": "f9ac8b9539c832a3",
        "g": "6c27fe9f99943679",
        "name": "Standardowe oświetlenie",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.standardowe_oswietlenie",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 420,
        "wires": [
            [
                "d3041cfa24e0aab5",
                "9aa642cfa8beb53a",
                "e0811da42f75fb5d"
            ]
        ]
    },
    {
        "id": "2613dc838cbd5e47",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "6c27fe9f99943679",
        "name": "Grzybek",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.grzybek"
        ],
        "data": "{\t   \"rgb_color\": randomColor,\t   \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d3041cfa24e0aab5",
        "type": "function",
        "z": "f9ac8b9539c832a3",
        "g": "6c27fe9f99943679",
        "name": "Random Color",
        "func": "msg.randomColor = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "2613dc838cbd5e47"
            ]
        ]
    },
    {
        "id": "9aa642cfa8beb53a",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "6c27fe9f99943679",
        "name": "Salon LED",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.salon_led"
        ],
        "data": "{\t   \"rgb_color\": [255, 163, 72],\t   \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e0811da42f75fb5d",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "6c27fe9f99943679",
        "name": "Halogeny",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_1",
            "light.halogen_2",
            "light.halogen_3",
            "light.halogen_4",
            "light.halogen_5",
            "light.halogen_6"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "135e151637506a67",
        "type": "server-state-changed",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Oglądanie TV",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.ogladanie_tv",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 640,
        "wires": [
            [
                "47e15f61dc69ae10",
                "4bd6ada147963d2f",
                "5ead5c978b3ae8b3",
                "691e105a52748b8a"
            ]
        ]
    },
    {
        "id": "e704175af4919eb9",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Grzybek",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.grzybek"
        ],
        "data": "{\t   \"rgb_color\": randomColor,\t   \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "47e15f61dc69ae10",
        "type": "function",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Random Color",
        "func": "msg.randomColor = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "e704175af4919eb9"
            ]
        ]
    },
    {
        "id": "4bd6ada147963d2f",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Salon LED",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.salon_led"
        ],
        "data": "{\t   \"rgb_color\": [255, 163, 72],\t   \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5ead5c978b3ae8b3",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Halogeny włączone",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_5",
            "light.halogen_6"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 450,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "691e105a52748b8a",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "141453e63c302779",
        "name": "Halogeny wyłączone",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_1",
            "light.halogen_2",
            "light.halogen_3",
            "light.halogen_4"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 460,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "bb7c06a04832d1e5",
        "type": "server-state-changed",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Dobranoc",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.dobranoc",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 940,
        "wires": [
            [
                "df9faafd8fbeefbe",
                "653e83d3f1ffa715",
                "9a2d2552d2f887b8",
                "db52d73c44600f2d",
                "de6c7a6f5a8968f7"
            ]
        ]
    },
    {
        "id": "9a2d2552d2f887b8",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Włącz światła",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_2",
            "light.halogen_3"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "6ba31741d4e8b920"
            ]
        ]
    },
    {
        "id": "df9faafd8fbeefbe",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Wyłącz światła",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.grzybek",
            "light.halogen_1",
            "light.halogen_4",
            "light.halogen_5",
            "light.halogen_6",
            "light.lampa_dzieci",
            "light.lampa_gabinet",
            "light.lampka_gabinet_1",
            "light.lampka_zewnetrzna",
            "light.salon_led"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "653e83d3f1ffa715",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Wyłącz przekaźniki",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000513cd0",
            "switch.sonoff_100051420f",
            "switch.sonoff_1000511f63",
            "switch.sonoff_1000541365",
            "switch.przekaznik_dzieci",
            "switch.przekaznik_gabinet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 390,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "0deb1030d7e6e0be",
        "type": "delay",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 920,
        "wires": [
            [
                "ee21f8b9965153a0",
                "ef73919d8b4fc840"
            ]
        ]
    },
    {
        "id": "ef73919d8b4fc840",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Wyłącz światła, które zostały włączone",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_2",
            "light.halogen_3",
            "light.lampka_gabinet_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 850,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "db52d73c44600f2d",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Zamknij roletę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "close_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.roleta_salon"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "de6c7a6f5a8968f7",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Wyłącz media playery",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.denon_avr_x1400h",
            "media_player.kd_55xe9005",
            "media_player.playstation_4",
            "media_player.sony_bravia_tv"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 400,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6ba31741d4e8b920",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Włącz światło w gabinecie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampka_gabinet_1"
        ],
        "data": "{\t    \"rgbw_color\": [255, 33, 159, 100],\t    \"brightness_pct\": 30\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "0deb1030d7e6e0be"
            ]
        ]
    },
    {
        "id": "ee21f8b9965153a0",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "1e79f0715558075a",
        "name": "Wyłącz muzykę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "media_stop",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.pokoj_dzieciecy",
            "media_player.salon"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c9432689e0f580a4",
        "type": "server-state-changed",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Pilot",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "update.pilot",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 60,
        "wires": [
            [
                "17c9759e599d8ad6"
            ]
        ]
    },
    {
        "id": "17c9759e599d8ad6",
        "type": "function",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Pobierz akcję",
        "func": "msg.payload=msg.data.new_state.attributes.action\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "03fbfc2607454ccd"
            ]
        ]
    },
    {
        "id": "03fbfc2607454ccd",
        "type": "switch",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrow_left_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_click",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "afe8c622ef8d03cf"
            ],
            [
                "afe8c622ef8d03cf",
                "ec87287eb765068e"
            ],
            [
                "c235e6ab9602c43b"
            ],
            [
                "de51c69e72662118"
            ],
            [
                "874e3a434553d62f"
            ]
        ]
    },
    {
        "id": "c235e6ab9602c43b",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Standardowe oświetlenie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": true,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.standardowe_oswietlenie"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "afe8c622ef8d03cf",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Oglądanie TV",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.ogladanie_tv"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 540,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "de51c69e72662118",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Wyjście z domu",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.wyjscie_z_domu"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "874e3a434553d62f",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Dobranoc",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.dobranoc"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ec87287eb765068e",
        "type": "delay",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "7c08316b5b85778b"
            ]
        ]
    },
    {
        "id": "7c08316b5b85778b",
        "type": "api-call-service",
        "z": "f9ac8b9539c832a3",
        "g": "689b1d55f7932c58",
        "name": "Wyłącz światła RGB",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_5",
            "light.halogen_6"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ccc9d90b522a0043",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Wyjście z domu",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.wyjscie_z_domu",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "df7df673be1d9c98",
                "eed6e467f5db8361",
                "0688d9d91fc90393"
            ]
        ]
    },
    {
        "id": "df7df673be1d9c98",
        "type": "api-current-state",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Światło słoneczne poniżej 4",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 2,
        "halt_if": "4",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.sunlight_pct",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "0b66e0c8549d8e06",
                "547d67abf9f23416"
            ],
            []
        ]
    },
    {
        "id": "0b66e0c8549d8e06",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Włącz światła",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_2",
            "light.halogen_3",
            "light.lampka_zewnetrzna"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "547d67abf9f23416",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Włącz oświetlenie zewnętrzne",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000541365"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f69501279babcc0b",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Zamknij roletę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "close_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.roleta_salon"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "eed6e467f5db8361",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Wyłącz światła",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.grzybek",
            "light.halogen_1",
            "light.halogen_4",
            "light.halogen_5",
            "light.halogen_6",
            "light.lampa_dzieci",
            "light.lampa_gabinet",
            "light.lampka_gabinet_1",
            "light.salon_led"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "39869291426f147a"
            ]
        ]
    },
    {
        "id": "0688d9d91fc90393",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Wyłącz przekaźniki",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000513cd0",
            "switch.sonoff_100051420f",
            "switch.sonoff_1000511f63",
            "switch.przekaznik_dzieci",
            "switch.przekaznik_gabinet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "39869291426f147a",
        "type": "delay",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "6cb112ecdff54584"
            ]
        ]
    },
    {
        "id": "6cb112ecdff54584",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Wyłacz media playery",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.denon_avr_x1400h",
            "media_player.playstation_4",
            "media_player.sony_bravia_tv"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "d346729c0c228393"
            ]
        ]
    },
    {
        "id": "d346729c0c228393",
        "type": "delay",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "5fa367aaafad48a6",
                "1068a9af2313d51a"
            ]
        ]
    },
    {
        "id": "5fa367aaafad48a6",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Wyłącz światła, które zostały włączone",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.halogen_2",
            "light.halogen_3",
            "light.lampka_zewnetrzna"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1068a9af2313d51a",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "7b4bf04699360b3b",
        "name": "Włącz oświetlenie zewnętrzne, które zostało włączone",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000541365"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 920,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a70ba87b7369ed2c",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "g": "e6c342613b5643d5",
        "name": "Światło zewnętrzne",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.swiatlo_zewnetrzne",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 480,
        "wires": [
            [
                "366f78566d1be9b2",
                "aae4b5a0da16c2e7"
            ]
        ]
    },
    {
        "id": "366f78566d1be9b2",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "e6c342613b5643d5",
        "name": "Włącz lampkę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampka_zewnetrzna"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aae4b5a0da16c2e7",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "e6c342613b5643d5",
        "name": "Włącz oświetlenie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000541365"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "263f98c0ca02852e",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Arek powrót do domu",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.rmx2202",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 660,
        "wires": [
            [
                "43535bc5d9c3cb19",
                "9f57e4b37020d8c7"
            ],
            []
        ]
    },
    {
        "id": "43535bc5d9c3cb19",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Włącz lampkę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampka_zewnetrzna"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "675994b71b3f1f8c"
            ]
        ]
    },
    {
        "id": "9f57e4b37020d8c7",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Włącz oświetlenie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000541365"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 390,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "675994b71b3f1f8c",
        "type": "delay",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "7e94098b490c2a42",
                "7901c3e6992a0bf9"
            ]
        ]
    },
    {
        "id": "7e94098b490c2a42",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Wyłącz lampkę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampka_zewnetrzna"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 840,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7901c3e6992a0bf9",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Wyłącz oświetlenie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000541365"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 850,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "46f8a3ad7d4e7a83",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "g": "c14793f7d268df8d",
        "name": "Pati powrót do domu",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.redmi_note_8_pro",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 720,
        "wires": [
            [
                "43535bc5d9c3cb19"
            ],
            [
                "9f57e4b37020d8c7"
            ]
        ]
    },
    {
        "id": "98236bd3ea3d22e7",
        "type": "geofence",
        "z": "c64ddd5143775f97",
        "name": "",
        "mode": "polyline",
        "inside": "both",
        "rad": 0,
        "points": [
            {
                "latitude": 50.307270011305924,
                "longitude": 18.915969684458105
            },
            {
                "latitude": 50.307427611362534,
                "longitude": 18.91634519372019
            },
            {
                "latitude": 50.30718778498211,
                "longitude": 18.916452482080786
            },
            {
                "latitude": 50.30713296735388,
                "longitude": 18.916130616999
            }
        ],
        "centre": {},
        "floor": "",
        "ceiling": "",
        "worldmap": false,
        "outputs": 1,
        "x": 720,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1a8a114f5acb99",
        "type": "api-current-state",
        "z": "c64ddd5143775f97",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.rmx2202",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 820,
        "wires": [
            [
                "a2f61b46bcdc92fd"
            ]
        ]
    },
    {
        "id": "fc347bbf2e4676e3",
        "type": "inject",
        "z": "c64ddd5143775f97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 820,
        "wires": [
            [
                "cf1a8a114f5acb99"
            ]
        ]
    },
    {
        "id": "a2f61b46bcdc92fd",
        "type": "function",
        "z": "c64ddd5143775f97",
        "name": "function 1",
        "func": "msg.location = {\n    lat: msg.data.attributes.latitude,\n    lon: msg.data.attributes.longitude\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 820,
        "wires": [
            [
                "98236bd3ea3d22e7"
            ]
        ]
    },
    {
        "id": "e5d09fef2513d182",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "name": "Zmiana strefy",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.rmx2202",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Brama",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "3",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 960,
        "wires": [
            [
                "8bdea84a9cef9142"
            ],
            []
        ]
    },
    {
        "id": "53be38205d256364",
        "type": "api-call-service",
        "z": "c64ddd5143775f97",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_arek",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"message\": \"Wjechałeś do strefy brama\",\t   \"title\": \"Strefa\"\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "8bdea84a9cef9142",
        "type": "api-current-state",
        "z": "c64ddd5143775f97",
        "name": "Pobranie bluetooth",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rmx2202_bluetooth_connection",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "7318a1a221a198fa"
            ]
        ]
    },
    {
        "id": "7318a1a221a198fa",
        "type": "switch",
        "z": "c64ddd5143775f97",
        "name": "",
        "property": "data.attributes.connected_paired_devices",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "B4:EC:02:72:FE:A5 (MYCAR)",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "08ca02db885003f8"
            ]
        ]
    },
    {
        "id": "c3b770a528c39b92",
        "type": "server-state-changed",
        "z": "c64ddd5143775f97",
        "name": "Zmiana połączeń bluetooth",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.rmx2202_bluetooth_connection",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "8bdea84a9cef9142"
            ]
        ]
    },
    {
        "id": "08ca02db885003f8",
        "type": "api-current-state",
        "z": "c64ddd5143775f97",
        "name": "Jest w state brama",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 2,
        "halt_if": "Brama",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.rmx2202",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "53be38205d256364"
            ],
            []
        ]
    },
    {
        "id": "256099695343d75f",
        "type": "server-state-changed",
        "z": "b2dfaac53f4ee54b",
        "name": "Przekaźnik gabinet",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.przekaznik_gabinet",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 80,
        "wires": [
            [
                "51286361c38d1a1f"
            ]
        ]
    },
    {
        "id": "c0f8fe11c977af5e",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "Włącz lampę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet"
        ],
        "data": "{    \t    \"rgbw_color\": [255, 255, 182, 50], \t    \"brightness_pct\": 100,\t    \"transition\": 1\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "51286361c38d1a1f",
        "type": "switch",
        "z": "b2dfaac53f4ee54b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "c0f8fe11c977af5e"
            ],
            [
                "f058df0fe57496b9"
            ]
        ]
    },
    {
        "id": "f058df0fe57496b9",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "Wyłącz lampę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet"
        ],
        "data": "{\t    \"transition\": 1\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "06675ac64db9a31e",
        "type": "server-state-changed",
        "z": "b2dfaac53f4ee54b",
        "name": "Przekaźnik dzieci",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.przekaznik_dzieci",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "7809a71fb18fd5ea"
            ]
        ]
    },
    {
        "id": "e8154bd964622703",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "Włącz lampę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_dzieci"
        ],
        "data": "{    \t    \"brightness_pct\": 100,\t    \"transition\": 1\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7809a71fb18fd5ea",
        "type": "switch",
        "z": "b2dfaac53f4ee54b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "e8154bd964622703"
            ],
            [
                "8726a485ef956e46"
            ]
        ]
    },
    {
        "id": "8726a485ef956e46",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "Wyłącz lampę dzieci",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_dzieci"
        ],
        "data": "{\t    \"transition\": 1\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d83105cc84fc8233",
        "type": "inject",
        "z": "b2dfaac53f4ee54b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "247d6880fbd774eb"
            ]
        ]
    },
    {
        "id": "247d6880fbd774eb",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_redmi_note_8_pro",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"message\": \"Pati jest gejuchem\",\t   \"title\": payload,\t   \"data\": {\t       \"group\": \"example-notification-group\",\t       \"color\": \"#2DF56D\",\t       \"importance\": \"high\",\t       \"channel\": \"Motion\",\t       \"clickAction\": \"https://onet.pl\",\t       \"actions\": [\t           {\t               \"action\": \"ALARM\",\t               \"title\": \"Sound Alarm\"\t            },\t           {\t               \"action\": \"URI\",\t               \"title\": \"Open Url\",\t               \"uri\": \"https://google.com\"\t            }\t        ]\t    }\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "67a6fd593fe3be86",
        "type": "api-call-service",
        "z": "b2dfaac53f4ee54b",
        "name": "",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_redmi_note_8_pro",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"message\": \"TTS\",\t   \"data\": {\t       \"tts_text\": \"Haloooo\"\t   }\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "cbcd2359f2cc6315",
        "type": "api-call-service",
        "z": "6768cfb18f6fc541",
        "g": "b1e916dd1d7de0b8",
        "name": "Graj kołysanki utulanki u dzieci",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "spotcast",
        "service": "start",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"random_song\": true,\t   \"device_name\": \"Pokój dziecięcy\",\t   \"uri\": \"spotify:album:1PtHlcG5feBee4IFGgbut0\",\t   \"repeat\": \"context\",\t   \"shuffle\": true\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a5e3d18390410799",
        "type": "api-call-service",
        "z": "6768cfb18f6fc541",
        "g": "b1e916dd1d7de0b8",
        "name": "Ustaw głośność",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "volume_set",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.pokoj_dzieciecy"
        ],
        "data": "{\t  \"volume_level\": 0.4\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "cbcd2359f2cc6315"
            ]
        ]
    },
    {
        "id": "9f9894cd6e8bea4b",
        "type": "api-call-service",
        "z": "6768cfb18f6fc541",
        "g": "b1e916dd1d7de0b8",
        "name": "Wyłącz światło",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.przekaznik_dzieci"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e87b194eed2498",
        "type": "server-state-changed",
        "z": "6768cfb18f6fc541",
        "g": "b1e916dd1d7de0b8",
        "name": "Dzieci dobranoc",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.dzieci_dobranoc",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "a5e3d18390410799"
            ]
        ]
    },
    {
        "id": "d6b27d940dda55b0",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Komputer Ethernet",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.komputer_stacjonarny",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "computer",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 990,
        "y": 120,
        "wires": [
            [
                "3aedae7f44fe185d"
            ]
        ]
    },
    {
        "id": "bed007e6166018c5",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Laptop Służbowy WiFi",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.laptop_sluzbowy_wifi",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "laptop",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "d6b27d940dda55b0"
            ]
        ]
    },
    {
        "id": "3aedae7f44fe185d",
        "type": "function",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Urządzenie włączone",
        "func": "msg.deviceOn = msg.laptop === 'on' || msg.computer === 'on'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "e46fa9aef12dcb94"
            ]
        ]
    },
    {
        "id": "8959c55f5e6f2f96",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Gabinet Lux",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "lt",
        "entity_id": "sensor.gabinet_illuminance_lux",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "laptop",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "cbc707cf91024573",
                "65d43cfa1bdbbdcd"
            ],
            [
                "34bf6fd15fb1ab7f"
            ]
        ]
    },
    {
        "id": "cbc707cf91024573",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Włącz lampkę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampka_gabinet_1"
        ],
        "data": "{\t    \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 200,
        "wires": [
            [
                "c5d1e04def32c886"
            ]
        ]
    },
    {
        "id": "65d43cfa1bdbbdcd",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Włącz oświetlenie monitor",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000511f63"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 990,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2312338b8fa55a26",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Wyłącz oświetlenie monitor",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000511f63"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e2a510cd8c057664",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Włącz lampę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet"
        ],
        "data": "{\t    \"rgbw_color\": [255, 33, 159, 100],\t    \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0de3a5fff1c4e3c9",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Wyłącz lampę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d1e04def32c886",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Gabinet Lux",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 2,
        "halt_if": "50",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.gabinet_illuminance_lux",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "e2a510cd8c057664"
            ],
            [
                "0de3a5fff1c4e3c9"
            ]
        ]
    },
    {
        "id": "b666e81e8039b28f",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Komputer Ethernet",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.komputer_stacjonarny",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9b1910f401ef61fe"
            ]
        ]
    },
    {
        "id": "708997197b0ea8ac",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Laptop Służbowy WiFi",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.laptop_sluzbowy_wifi",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 120,
        "wires": [
            [
                "9b1910f401ef61fe"
            ]
        ]
    },
    {
        "id": "5c34fe8dd10021b8",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Minimalne światło",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_number.maksymalne_swiatlo_do_wylaczenia_oswietlenia",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9b1910f401ef61fe"
            ]
        ]
    },
    {
        "id": "7aa9b6aab96e2a63",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Gabinet Lux",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.gabinet_illuminance_lux",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 240,
        "wires": [
            [
                "9b1910f401ef61fe"
            ]
        ]
    },
    {
        "id": "9b1910f401ef61fe",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Automatyczne sterowanie oświetleniem",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatycznie_steruj_oswietleniem_w_gabinecie",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "bed007e6166018c5"
            ],
            []
        ]
    },
    {
        "id": "e46fa9aef12dcb94",
        "type": "switch",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "",
        "property": "deviceOn",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "cf0fbd04973576db"
            ],
            [
                "34bf6fd15fb1ab7f"
            ]
        ]
    },
    {
        "id": "cf0fbd04973576db",
        "type": "api-current-state",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Minimum lux",
        "server": "163c9f2450f671da",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.maksymalne_swiatlo_do_wylaczenia_oswietlenia",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "8959c55f5e6f2f96"
            ]
        ]
    },
    {
        "id": "34bf6fd15fb1ab7f",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9bc283314f1e0f9f",
        "name": "Wyłącz lampę i lampkę gabinet",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet",
            "light.lampka_gabinet_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "2312338b8fa55a26"
            ]
        ]
    },
    {
        "id": "78d30d26a52fab3b",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "884608cf0fb6e773",
        "name": "Bieganie",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.bieganie",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 480,
        "wires": [
            [
                "bcd2981a6282f92d",
                "abdb678895507741",
                "04619304953732d0"
            ]
        ]
    },
    {
        "id": "bcd2981a6282f92d",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "884608cf0fb6e773",
        "name": "Wyłącz automatyczne sterowanie oświetleniem w gabinecie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.automatycznie_steruj_oswietleniem_w_gabinecie"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "abdb678895507741",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "884608cf0fb6e773",
        "name": "Włącz światła RGB",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet",
            "light.lampka_gabinet_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "04619304953732d0",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "884608cf0fb6e773",
        "name": "Włącz bieżnię i lampę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000513cd0",
            "switch.sonoff_1000511f63"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c4210de99aa36378",
        "type": "server-state-changed",
        "z": "ae7eb5a05d582c32",
        "g": "9577ec21e7b1473f",
        "name": "Zakończ Bieganie",
        "server": "163c9f2450f671da",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "scene.zakoncz_bieganie",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 700,
        "wires": [
            [
                "6cf1832a97e41bd3",
                "4f4b3fc8976ae592",
                "0f529defee31c9cf"
            ]
        ],
        "icon": "font-awesome/fa-bed"
    },
    {
        "id": "6cf1832a97e41bd3",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9577ec21e7b1473f",
        "name": "Włącz automatyczne sterowanie oświetleniem w gabinecie",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.automatycznie_steruj_oswietleniem_w_gabinecie"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4f4b3fc8976ae592",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9577ec21e7b1473f",
        "name": "Wyłącz światła RGB",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.lampa_gabinet",
            "light.lampka_gabinet_1"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "0f529defee31c9cf",
        "type": "api-call-service",
        "z": "ae7eb5a05d582c32",
        "g": "9577ec21e7b1473f",
        "name": "Wyłącz bieżnię i lampę",
        "server": "163c9f2450f671da",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sonoff_1000513cd0",
            "switch.sonoff_1000511f63"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 500,
        "y": 820,
        "wires": [
            []
        ]
    }
]